<h2 class="title">Digifair Note enables you to:</h2>
<div class="row flex-column flex-sm-row ">
  <div class="col col-md-6">
    <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Document your research anywhere; </li>
          <li class="list-group-item">Find products for your brand collections;</li>
          <li class="list-group-item">Get inspired by new fabrics and apparels;</li>
          <li class="list-group-item">Take pictures and upload them;</li>
          <li class="list-group-item">Catalogue and organize your textile sourcing;</li>
          <li class="list-group-item">Easily share photos with your team and friends;</li>
          <li class="list-group-item">Reach suppliers all over the world; </li>
          <li class="list-group-item">Buy directly from the app</li>
        </ul>
      </div>
    </div>
    <div class="col col-md-6">
      <div>
        <img src="{{"/assets/images/cel-home_novo.gif" | absolute_url}}" alt="Gif demonstrativo">
      </div>
    </div>
</div>
