<h2 class="title">Digifair Note enables you to:</h>
<div class="content flex-column flex-sm-row ">
    <ul>
      <li>Document your research anywhere; </li>
      <li>Find products for your brand collections;</li>
      <li>Get inspired by new fabrics and apparels;</li>
      <li>Take pictures and upload them;</li>
      <li>Catalogue and organize your textile sourcing;</li>
      <li>Easily share photos with your team and friends;</li>
      <li>Reach suppliers all over the world; </li>
      <li>Buy directly from the app</li>
    </ul>
    <div>
      <img src="{{"/assets/images/cel-home_novo.gif" | absolute_url}}" alt="Gif demonstrativo">
    </div>
</div>
