<h2 class="title">Textile or fashion buyers, with Digifair Note you can</h>
<div class="content flex-column flex-sm-row ">
    <div>
      <img src="{{"/assets/images/cel-home_novo.gif" | absolute_url}}" alt="Gif demonstrativo">
    </div>
    <ul>
      <li>document your research anywhere, from textile tradeshows to streetstyle</li>
      <li>find products for your brand</li>
      <li>get inspired by new fabrics and apparel</li>
      <li>take pictures and instantly upload your sourcing inspiration</li>
      <li>catalog and organize your textile sourcing</li>
      <li>easily share photos with your team</li>
      <li>reach suppliers all over the world</li>
    </ul>
</div>
