{% if include.info.data == nil %}
  {% assign list = page.id%}
{% else %}
  {% assign list = include.info.data%}
{% endif%}

<ul class="nav flex-column flex-sm-row {{ include.info.class }}">
  {% for item in site.data.nav[list] %}
   <li class="nav-item ml-0 {% unless forloop.first %}ml-sm-4 mt-2{% endunless%} mt-sm-0">
    {% if item.link != nil %}
      <a href="{{ item.link | absolute_url }}" class="nav-link btn {{item.class}}" {% if item.target != nil %}target="_blank"{% endif%}>
        {% if item.image == nil %}
          {{item.name}}
        {% else %}
           <img  src="{{ 'assets/images/blank.png' | absolute_url}}" data-echo="{{ 'assets/images/'| append: item.image  | absolute_url}}" alt="{{item.name}}">
        {% endif%}

      </a>
    {% else %}
      <span class="nav-link {{item.class}}">
        {% if item.image == nil %}
           {{item.name}}
        {% else %}
           <img  src="{{ 'assets/images/blank.png' | absolute_url}}" data-echo="{{ 'assets/images/'| append: item.image  | absolute_url}}" alt="{{item.name}}">
        {% endif%}
      </a>
    {% endif%}
  </li>
  {% endfor %}
</ul>
