<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="nav-code" aria-selected="true">Code of Conduct </a>
    <a class="nav-item nav-link" id="nav-privacy-tab" data-toggle="tab" href="#nav-privacy" role="tab" aria-controls="nav-privacy" aria-selected="false">Privacy Policy</a>
    <a class="nav-item nav-link" id="nav-terms-tab" data-toggle="tab" href="#nav-terms" role="tab" aria-controls="nav-terms" aria-selected="false">Terms & Conditions</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="code" role="tabpanel" aria-labelledby="nav-code-tab">
    <p>
      By signing up to Digifair Note (a Digifair product), you agree to comply and ensure that your team conforms with the Code of Conduct and the applicable laws and regulations of the countries in which you conduct business.
    </p>
    <h6>1. NO CHILD LABOR </h6>
    <p>
      No persons shall be employed unless they meet the minimum legal age requirement under the applicable local law.
    </p>
    <h6>2. NO FORCED LABOR</h6>
    <p>
      All members are to ensure compliance with all applicable laws and regulations relating to the prohibition of forced labor and human trafficking. Involuntary labor of any kind, including prison labor or debt bonded employment, is prohibited. All workers shall have the right to freely enter into and terminate their employment.
    </p>
    <h6>3. NO HARASSMENT</h6>
    <p>
      No worker shall be subject to any physical or psychological acts of coercion or punishment of any kind, including threats, screaming, sexual harassment or other verbal abuse.
    </p>
    <h6>4. NO DISCRIMINATION</h6>
    <p>
      Workers are treated equally. No worker shall be subject to any discrimination in employment, including hiring, compensation, advancement, discipline, termination or retirement. The prohibition of discrimination includes any distinction, exclusion or preference based on race, color, nationality, social origin, gender, religion, disability, political opinion, marital status, pregnancy, sexual orientation, membership in workers organizations (including unions or political affiliations), or age.
    </p>
    <h6>5. ENVIRONMENTAL PROTECTION</h6>
    <p>
      Members shall minimize environmental impacts in particular with respect to energy, water, air, soil, and materials. The environmentally responsible procurement and use of natural resources (energy water, materials, and land) shall be an integral part of the production.
    </p>
    <h6>6. BRIBERY AND CORRUPTION</h6>
    <p>
       No form of extortion or bribery, including improper offers for payments to or from individuals performing work for suppliers, customers or other contracting parties, government organizations, shall be tolerated. We condemn all forms of corruption and bribery.
    </p>
  </div>
  <div class="tab-pane fade" id="nav-privacy" role="tabpanel" aria-labelledby="nav-privacy-tab">
    <p>
      DIGIFAIR ISRAEL LTD, 5155980515, 26 Rechov Nahamani, Tel Aviv (hereinafter “DIGIFAIR”) operates the domain www.digifair.com (the “Website”) and the app DIGIFAIR NOTE (the “App”), and thereunder, provides a members-only platform addressed to manufacturers, brands, retailers and other buyers of fashion and lifestyle products (the “Platform”).
    </p>
    <p>
      DIGIFAIR protects the privacy of all users and strictly complies with all applicable data protection provisions, including the European General Data Protection Regulation (“GDPR”). The following privacy policy informs about the use and processing of personal data of users visiting the Website without registration or log-in. If you are a registered user of DIGIFAIR NOTE, you may view our privacy policy at https://digifair.com/terms/.
    </p>
    <h6>1) PROCESSING OF DATA IN CASE OF COMMUNICATION TOWARDS US</h6>
    <p>
      The Website and the App contain information which makes it possible to contact us quickly in electronic form and to directly communicate with us. If you decide to contact us, for example via e-mail or via the contact form, the personal data you transmitted is automatically stored in order to process your request. The data you communicated will not be transferred to third parties. It will only be stored as long as we need to deal with your request.
    </p>
    <h6>2) WEB TRACKING</h6>
    <h6>(a) Use of Log Files in Case of Errors </h6>
    <p>
      When you visit the Website/App, DIGIFAIR collects the following usage data upon a crash or other malfunction of the Website and sends them to an internal log file: anonymized IP address, browser information, computer information, network information. DIGIFAIR uses such data only to detect or to eliminate errors which prevent the Website/App from operating properly.
    </p>
    <h6>(b) Use of Cookies</h6>
    <p>
      DIGIFAIR also collects information on the use of the Website/App by using the browser Cookies from Google third party providers.
    </p>
    <h6>3) YOUR RIGHTS UNDER THE GDPR </h6>
    <p>
      The aforementioned processing of data results from your use of the Website/App or opting-in for a newsletter or contacting us. You are neither contractually or statutorily obliged to provide this data to DIGIFAIR.
    </p>
    <p>
      Under the EU General Data Protection Regulation, you are entitled to:
      withdraw your consent to process your data (e.g. the consent to receive newsletters) atany time (for this, simply contact us as described below);
      request which data we process and have stored. However, in cases where we only stored anonymized use profiles (such as the ones generated by the use of web tracking), we cannot match such profiles with your individual details such as your name or address. Therefore, we can only fulfill your request if you grant us the information necessary to conduct such matching. We will inform you if fulfillment of your information request is only possible with such further information;
      request – under the statutory required preconditions – the completion, correction or deletion of your data; and
      receive the necessary data in a structured, common and machine-readable format as far as processing of your data is based on consent (e.g. the consent to receive newsletters); and
      object to any processing of data which is based on Art.6 para. 1 lit. e) or f) GDPR (e.g. in the case of web tracking), as far as the requirements of Art. 21 para. 1 of the General Data Protection Regulation are met (i.e. on grounds relating to your particular situation).
    </p>
    <h6>4) RIGHT TO COMPLAINT</h6>
    <p>
        You have a right to file a complaint with a data protection authority.
    </p>
    <h6>5) INFORMATION AND CONTACT</h6>
    <p>
      You can contact DIGIFAIR under the email address hi@digifair.com.
    </p>
  </div>
  <div class="tab-pane fade" id="nav-terms" role="tabpanel" aria-labelledby="nav-terms-tab">
    <h6> 1. GENERAL PROVISIONS</h6>
    <p>
      1.1. DIGIFAIR ISRAEL LTD, 5155890515, 26 Rechov Nahamani, Tel Aviv, Israel (hereinafter “DIGIFAIR”) provides an online platform under the domain www.digifair.com and the app DIGIFAIR NOTE (hereinafter “Platform”). The Platform provides online and offline tools and matching algorithms for promotion, getting in contact, business initiation and qualification, exchanging information and general market intelligence. Upon entering into a subscription agreement for the use of the Platform with DIGIFAIR, manufacturers of materials, fabrics, garment and textile products, brands, retailers and other sellers, and other buyers of such products (hereinafter “Members”) can connect over the Platform. DIGIFAIR will constantly develop and improve the services on the Platform to allow demands on their individual profile and request proposals.
    </p>
   <p>
    1.2. The following terms and conditions apply between DIGIFAIR and the Members of the Platform relating to all services provided by DIGIFAIR to such Members on the Platform. By subscribing for the Platform the Member accepts these terms and conditions for the use.
   </p>
    <p>
      1.3. Terms and conditions deviating from these terms and conditions shall only apply if these are confirmed by DIGIFAIR in writing.
    </p>
    <p>
      1.4. Terms and conditions apply to any products and services provided by DIGIFAIR, including DIGIFAIR NOTE.
    </p>
    <h6>
      2. REGISTRATION AND CONCLUSION OF THE SUBSCRIPTION AGREEMENT
    </h6>
    <p>
      2.1. Members who are interested in subscribing to the Platform can fill the online registration form for the Platform. Upon registration, DIGIFAIR may make an offer to the Member to enter into a subscription agreement for the Platform at the subscription fee indicated in the offer and under these terms and conditions. All information indicated in the registration form, in particular, contact information and information on whether the Member will use the Platform as a manufacturer, buyer or as another user, has to be complete and correct.
    </p>
    <p>
      2.2. Unless otherwise agreed, DIGIFAIR may invoice the annual fees plus any VAT if applicable in each case in advance. The Member is responsible for and shall ensure the payment of all local sales taxes applicable at the Member’s place of business or any other indirect taxes levied upon the payments made to DIGIFAIR under the subscription agreement, except for VAT payable in Israel. The Member shall hold DIGIFAIR harmless against any such claims for taxes by local authorities at the Member’s place of business.
    </p>
    <p>
      2.3. The information provided in the registration process has to be true and complete.
    </p>
    <p>
      2.4. DIGIFAIR has the right to withdraw the member’s admission or to block its access to the Platform if the Member is in breach of these terms and conditions.
    </p>
    <p>
      2.5. All log-ins are individualised and may only be used by the respective authorised Member. The Member is obliged to keep the log-in data strictly confidential and to protect it from unauthorised access by third parties. The Member is also responsible for the confidentiality of its employees’ log-ins and shall instruct its personnel accordingly. The Member shall inform DIGIFAIR without delay of any suspected unauthorised use of the log-in data. DIGIFAIR reserves the right to change a Member’s log-in data and/or to deactivate the account if there are indications for unauthorised access by third parties. In such case, DIGIFAIR shall inform the Member without undue delay.
    </p>
    <h6>3. USE OF THE PLATFORM (DIGIFAIR NOTE)</h6>
    <p>
      3.1. The Member may use all functions of the Platform that are part of the Member’s membership scheme including uploading pictures, registering events and business contacts, and the possibility to connect with other Members. The Members may add information to their profiles on the Platform. Buyers have the possibility to send quote requests to suppliers.
    </p>
    <p>
      3.2. Members are aware that the information provided on the Platform may be accessible for other Members of the Platform. By adding such information to the Platform, Members agree that such information is made available to other Members of the Platform.
    </p>
    <p>
      3.3. Each Member is free to enter into agreements under its own conditions using the functionalities of the Platform. Each Member is solely responsible for any agreements entered into with other Members of the Platform. DIGIFAIR shall not become a party to any agreements between Members of the Platform and shall not be bound by agreements between Members. DIGIFAIR is not responsible for the fulfilment of any agreements between Members of the Platform.
    </p>
    <p>
      3.4. It is the sole responsibility of each Member to gather information on other Members they enter into agreements with, e.g. relating to creditworthiness and signing authority. DIGIFAIR is not responsible for the accuracy or completeness of any information available over the Platform. In particular, DIGIFAIR is not responsible for any results leading to the suggestion of business partners by use of the search functionalities, recommendations or the matching algorithm.
    </p>
    <p>
     3.5. DIGIFAIR reserves the right to amend or extend the content or structure of the Platform as well as the corresponding user interfaces, provided that the fulfilment of the purpose of the contract concluded with the Member is not or not considerably affected as a result.
    </p>
    <h6>4. MEMBER’S OBLIGATIONS AND LICENSE</h6>
    <p>
      4.1. The Member has to ensure that all information shared in the profile is complete, correct and not misleading and does not violate the rights of third parties, in particular, the rights of third parties in trademarks, design rights or rights in secret know-how.
    </p>
    <p>
      4.2. By uploading content to the Members profile, the Member grants DIGIFAIR a non-exclusive, perpetual, worldwide right to use the content, in particular, to reproduce the content and make the content available to the public. The Member grants DIGIFAIR the right to use such content. in addition, the Member grants DIGIFAIR, for the term of this agreement, a non-exclusive, worldwide right to use the Member’s company name and logo, and the brand name and brand logos of all of the Member’s and its subsidiaries’ brands displayed on the Platform, as a reference for DIGIFAIR’s services, in newsletters and for advertising.
    </p>
    <p>
      4.3. The Member shall instruct all employees and other assistants, who have log-in information for an additional user profile to the membership account or have access to the log-in information, to comply with these terms and conditions. The Member has to ensure that it is entitled to display personal data of employees on the Platform to the extent such information is used when setting up employee log-ins.
    </p>
    <p>
      4.4. The Member shall be obliged
    </p>
    <p>
      (a) to implement and maintain regular data backups of information, which is of commercial and/or legal importance for the Member during the entire term of the contract;
    </p>
    <p>
      (b) to ensure the careful handling of log-in information and ensure that no unauthorized person gains access to the log-in information;
    </p>
    <p>
      (c) to cooperate with DIGIFAIR, to the extent necessary to investigate and prevent unauthorized access to the Platform;
    </p>
    <p>
      (d) to use the Platform exclusively for the purpose of enabling connection between Platform Members for commercial purposes;
    </p>
    <p>
      (e) to comply with the DIGIFAIR Code of Conduct in the latest relevant version.
    </p>
    <p>
      4.5. The Member undertakes to refrain from any activities which endanger the performance of the Platform or disturb other Members. The Member refrains from using crawlers to gather data from the Platform and accessing data which the Member is not entitled to use or to share the data provided on the Platform or by other Members with third parties who are not a Member of the Platform for commercial purposes.
    </p>
    <p>
      4.6. Members shall ensure that the information and data published on the Platform does not contain any malware such as trojans, viruses and similar software. The Member is obliged to compensate DIGIFAIR for any damages and to hold DIGIFAIR harmless from any third party claims resulting from the non-compliance with these obligations.
    </p>
    <h6>5. LIABILITY OF PLATFORM OPERATOR</h6>
    <p>
      5.1. DIGIFAIR shall be fully liable for wilful intent and gross negligence and any harm to body, life and health caused by intent or negligence by DIGIFAIR, its representatives or other assistants. For slight negligence, DIGIFAIR shall be liable only in case of infringement of essential contractual obligations. The liability in case of infringement of such essential contractual obligation shall be limited to the damages typical for the contract which DIGIFAIR should have expected when entering into the agreement due to the circumstances known to DIGIFAIR at that time.
    </p>
    <p>
      5.2. The limitations on liability set out above shall also apply, mutatis mutandis, to DIGIFAIR’s employees and other assistants or agents.
    </p>
    <p>
      5.3. To the extent the Platform offers options to redirect to databases, websites, services etc. of third parties, for example through links or hyperlinks, DIGIFAIR shall neither be liable for the accessibility, existence or security of such databases or services nor for its contents. In particular, DIGIFAIR shall not be liable for its legality, accuracy and completeness.
    </p>
    <h6>6.THIRD-PARTY CONTENTS, DATA SECURITY, CONFIDENTIALITY</h6>
    <p>
      6.1. The Members must not publish content which infringes statutory provisions, official orders or common decency. In addition, Members must not publish content which infringes rights, in particular, copyrights and trademark rights, of third parties.
    </p>
    <p>
      6.2. DIGIFAIR does not review the contents provided by the Members to the Platform and declines any responsibility for such content.
    </p>
    <p>
      6.3. DIGIFAIR reserves the right to remove any content if such content violates the applicable statutory law or if DIGIFAIR has reasons to believe that the content violates the rights of other Members or third parties.
    </p>
    <p>
      6.4. The Member holds DIGIFAIR harmless against all claims third parties may have due to the infringement of their rights or statutory violations.
    </p>
    <p>
      6.5. DIGIFAIR’s servers are secured by industry-standard technology, in particular firewalls and/or encryption; however, the Members are aware that there is a risk for all Members of the Platform that data transmitted may be intercepted. This also applies to the integrated messaging system and all other transfers of data. Thus, the confidentiality of the data transmitted while using the Platform cannot be guaranteed.
    </p>
    <p>
      6.6. DIGIFAIR implements economically reasonable measures to reduce downtimes of the Platform to a minimum. However, as any technical system, there can be downtimes of the Platform due to software bugs, maintenance, upgrades etc. The Member is responsible for the implementation of measures to ensure that temporary downtime does not affect the Member’s business operations.
    </p>
    <p>
      6.7. DIGIFAIR keeps all information provided by its Members and which is designated as confidential information strictly confidential and only uses such information in accordance with these terms and conditions. This does not apply to information that
    </p>
    <p>
      is lawfully known by DIGIFAIR at the time of receipt and not through a prior disclosure by DIGIFAIR,
    </p>
    <p>
      is at the time of disclosure or thereafter becomes published or otherwise part of the public domain without breach of this agreement by DIGIFAIR, or
    </p>
    <p>
      is substantially disclosed to DIGIFAIR by a third party who is not under an obligation to maintain the confidentiality of the information.
    </p>
    <p>
      DIGIFAIR uses high encryption standards to ensure confidentiality of critical data provided to DIGIFAIR.
    </p>
    <p>
      DIGIFAIR has the right to disclose information in case and to the extent, DIGIFAIR is legally obliged to.
    </p>
    <p>
      6.8. The content provided by Members on the Platform is accessible to other Members of the Platform. DIGIFAIR does not make such content accessible to third parties which are not Members of the Platform except in case DIGIFAIR assigns essentially all parts of the Platform to a third party or in case DIGIFAIR uses such content for references or advertisements as set out in Section 4.2. However, Members are aware that DIGIFAIR cannot prevent other Members of the Platform from sharing such content with third parties.
    </p>
    <h6>7. TERM</h6>
    <p>
      7.1. The initial term of the subscription as indicated in the offer for the subscription agreement starts with the acceptance of the subscription agreement according to Section 2.2 and shall be extended for another year in each case unless it is terminated by either party at any time before the end of a term, by the end of the term.
    </p>
    <p>
      7.2. Each party shall have the right to terminate this agreement for good cause without a notice period. A good cause for DIGIFAIR is in particular:
    </p>
    <p>
      (a) the breach of provisions of these terms and conditions or the Code of Conduct by a Member which are not remedied within a deadline set;
    </p>
    <p>
      (b) criminal activities by a Member or the attempt of such criminal activities, for example fraud;
    </p>
    <p>
      (c) if the Member is in default of payment as regards the payment to be made pursuant to Section 2.2 and 2.3 for more than six weeks;
    </p>
    <p>
      (d) long-term operational disruptions as a result of force majeure beyond the control of DIGIFAIR, such as natural disasters or fire.
    </p>
    <p>
      7.3. The notice of termination must be made in writing, or, if available, by using the termination procedure in the members account area on the Platform. Transmission by e-mail or fax is sufficient.<
    </p>
    <h6>8. AMENDMENT OF THE TERMS AND CONDITIONS FOR USE</h6>
    <p>
      8.1. DIGIFAIR shall inform the Member of amendments of these terms and conditions in writing, by e-mail or by a message displayed to Members when logging in to the Platform. If the Member does not object to such amendments within a period of ONE week after receipt of the notice, the amendments shall be deemed agreed. DIGIFAIR shall inform the Members separately of their right of objection and the legal consequences of silence in case of amendment of the terms and conditions.
    </p>
    <p>
      8.2. If the Member objects to the amendment of the terms and conditions DIGIFAIR has the right to terminate the subscription agreement with ONE week’s notice.
    </p>
    <h6>9. LAW AND VENUE</h6>
    <p>The Law of the STATE OF ISRAEL shall apply, excluding its conflict of laws rules.</p>
    <h6>10. MISCELLANEOUS</h6>
    <p>
      10.1. Except with the prior written consent of DIGIFAIR, the Member may not transfer any rights and obligations under this agreement to third parties. The Member will consent to any future transfer of this agreement to a company affiliated with DIGIFAIR.
    </p>
    <p>
      10.2. The Member may invoke, set-off or exercise a pledge or right to retain only if the claims made have been acknowledged by DIGIFAIR or have been adjudicated in court with legal effect.
    </p>
  </div>
</div>
