<h2 class="title">Best Offers From Fabric Suppliers</h2>
    <div class="row mx-auto my-auto">
        <div id="products" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                  <div class="col">
                    <img  class="d-block img-fluid" src="https://via.placeholder.com/600x400?text=1">
                      <h5>1 slide label</h5>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col">
                    <img class="d-block  img-fluid" src="https://via.placeholder.com/600x400?text=2">
                     <h5>2 slide label</h5>
                  </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                      <img class="d-block img-fluid" src="https://via.placeholder.com/600x400?text=3">
                       <h5>3 slide label</h5>
                   </div>
                </div>
                <div class="carousel-item">
                    <div class="col">
                      <img class="d-block img-fluid" src="https://via.placeholder.com/600x400?text=4">
                      <h5>4 slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                   <div class="col">
                      <img class="d-block img-fluid" src="https://via.placeholder.com/600x400?text=5">
                      <h5>5 slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                   <div class="col">
                      <img class="d-block img-fluid" src="https://via.placeholder.com/600x400?text=6">
                      <h5>6 slide label</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>



