<h2 class="title">Best Offers From Fabric Suppliers</h2>


<div class="row mx-auto my-auto">
    <div id="carouselProducts" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
           {% for product in site.data.products %}
            <div class="carousel-item  {% if forloop.first %} active {% endif %}">
              <div class="col">
                {% include components/product_item.html image= product.image
                                                        name= product.name
                                                        url= product.url

                %}
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselProducts" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselProducts" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{% include components/product_item.html image= site.data.products.first.image
                                                        name= site.data.products.first.name
                                                        url= site.data.products.first.url

%}
