{% for section in site.data.sections[page.id] %}
  {% if section.component == nil %}
    {% assign component = section.name%}
  {% else %}
    {% assign component = section.component%}
  {% endif%}
  {% if section.path != nil %}
    {% assign path = section.path%}
  {% else %}
    {% assign path = 'sections'%}
  {% endif%}
  <section id="{{ section.name }}">
    <div class="{% if section.container == nil or section.container %}container{% endif %}">
      {%if  section.title != nil or section.sub_title != nil or section.third_subtitle != nil %}
        <header class="section-header mb-5">
          {% include components/titles.html info=section %}
        </header>
      {% endif %}
      {%unless  section.no_component != nil and section.no_component  %}
        {% include {{path}}/{{component}}.html info=section %}
      {% endunless %}
      {% if section.text != nil %}
        <div class="mt-5 text text-center">
          {{ section.text }}
        </div>
      {% endif%}
    </div>
  </section>
{% endfor %}
