<h2 class="title">Digifair Note brings you :</h2>
<div class="row flex-column flex-sm-row">
  <div class="col col-md-6 offset-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Publish your products to worldwide textile  buyers;  </li>
      <li class="list-group-item">Get inquires  and quotations; </li>
      <li class="list-group-item">Enhance your prospects list; </li>
      <li class="list-group-item">Use Digifair Note powerfull digital marketing techniques; </li>
      <li class="list-group-item">Strenght your brand and products with banners ads; </li>
      <li class="list-group-item">Connect products straitght to your site; </li>
      <li class="list-group-item">Analyse your products performance using our insights and analytics;  </li>
      <li class="list-group-item">Use our marketplace to sell directly from the app;</li>
    </ul>
  </div>
</div>


