<h2 class="title">Digifair Note brings you :</h>
<ul>
  <li>Publish your products to worldwide textile  buyers;  </li>
  <li>Get inquires  and quotations; </li>
  <li>Enhance your prospects list; </li>
  <li>Use Digifair Note powerfull digital marketing techniques; </li>
  <li>Strenght your brand and products with banners ads; </li>
  <li>Connect products straitght to your site; </li>
  <li>Analyse your products performance using our insights and analytics;  </li>
  <li>Use our marketplace to sell directly from the app;</li>
</ul>

