<div>
  {% for item in site.data.timeline[page.id] %}
    <div class="row flex-column-reverse flex-sm-row">
      <div class="col col-sm-3 offset-sm-2">
        <div class="d-flex justify-content-center">
          <img class="mw-100" src="{{ 'assets/images/blank.png' | absolute_url}}"  data-echo="{{ 'assets/images/'| append: item.image | absolute_url}}" alt="{{ item.alt }}">
        </div>
      </div>
      <div class="col col-md-5 ">
        <div class="bullet"></div>
          <div class="ml-5">
            <h2><small>{{item.title}}</small></h2>
            <p>{{item.content}}</p>
          </div>
        </div>
    </div>
  {% endfor %}
</div>

