
{% if include.info.title != nil %}
  <h1 class="title  d-flex align-items-center flex-column flex-sm-row">
    {{ include.info.title}}
  </h1>
{% endif%}
{% if include.info.sub_title != nil %}
  <h2 class="sub-title   d-flex align-items-center flex-column flex-sm-row">
    {{ include.info.sub_title}}
  </h2>
{% endif%}
{% if include.info.third_subtitle != nil %}
  <h3 class="third-subtitle d-flex align-items-center flex-column flex-sm-row">
    {{ include.info.third_subtitle}}
  </h3>
{% endif%}





<!--
{{ include.info.class_third_title }}
{{ include.info.class_third_sub_title }}
{{ include.info.class_third_subtitle }}
 -->
