#about{
  .text{
    letter-spacing: 0.3px;
    color: #3E3D3D;
  }

  #info{
    .row{
      align-items:center;
    }
    .list-group-item{
      margin-bottom: 22px;
    }
  }
}

@include media-breakpoint-up(lg) {
 .text{
    margin-left: 95px;
    margin-right: 95px;
  }
}
