#home{

  #header{
    margin-top: 20px;

    .nav-item{
      a, a:hover {
        color: #B8B8B8;
        font-weight: 200;
      }
      .icon{
        padding-right: 5px;
        height: 30px;
        width: 30px;
        &>*{
          width: inherit;
        }
      }
    }
  }

  #nav{
    .supplier{
      background: #19AE95;
      color: white;
    }
    .buyer{
      background: #00B9F1;
      color: white;
    }

    .buttons{
      text-align: center;
    }
  }

  #video{
    display: flex;
    flex-direction: column;

    .iframe-container{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      height: 0;

      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
      }
    }
  }

  #about_infos{
    li{
      display: block;
      font-size: larger;

      i{
        margin-right: 10px;
        color: #4CBDAB;
      }
    }
  }

  #more_info{
    .title{
      color: #19AE95;
      font-weight: 800;
      padding-bottom: 10px;
    }

    .body{
      font-weight: 100;
      color: #333333;
      margin-bottom: 40px;
    }

    .download{
      text-transform: uppercase;
      font-weight: 100;
      color: #777777;
    }

    .contact{
      margin-top: 40px;
      font-weight: 100;
      font-size: small;
      color: #333333;
    }
  }

}
