#home{
  #nav{
    .container{
      border-bottom: 1px solid #000000;
      border-top: 1px solid #000000;
    }

    .nav{
      margin: 10px 0;
      justify-content: flex-end;

      a{
        margin-left: 24px;
      }

      span{
        text-align: right;
        font: 700;
        letter-spacing: 0.26px;
        color: #3E3D3D;
        opacity: 1;
      }
    }
  }

  #video{
    .banner{
      min-height: 790px;
      height: auto;
      padding: 60px;
    }

    h1{
      font-weight: 400;
      letter-spacing: 1.41px;
      color: #3E3D3D;
    }
  }

  #titles{
    margin-bottom: 80px;

    *{
      text-align: center;
      font-weight: 400;
    }

    .title{
      color: #3E3D3D;
      text-transform: uppercase;
    }

    .subtitle{
      color: #707070;
    }
  }

  #info{
    .bullet{
      background: #AB4499;
      border-radius: 20px;
      width: 32px;
      height: 8px;
      margin: 0 12px;
    }

    h4{
      font-weight: 700;
      color: #00BAF2;
      text-transform: uppercase;
    }
    p{
      font-weight: 500;
      color: #707070;
      font-size: 1.3em;
      margin-bottom: 100px;
    }
     a, a:hover
    {
      font-weight: 500;
      color: #3E3D3D;
      text-decoration: none;
    }

    img{
      width: 100%;
      margin-left: -100px;
      object-fit: contain;
    }
    .flex-md-column-reverse img{
        margin-left: 100px;
    }
  }
}
