#supplier{

  #banner{

    .banner{
      text-align: left;
      height: 120vh;
    }

    .contant{
      img{
        width: 70%;
      }
      h1{
        font-size: 2.5em;
        margin: 20px 0;
        margin-top: 50px;
      }
      a{
        background-color: #1DB098;
        color: #fff;
        font-weight: 100;
      }
    }
  }

  #banner_2{
    .banner{
      height: 80vh;
    }
    img{
      width: 100%;
      object-fit:cover;
      padding: 10%;
    }
  }
}
