#terms{

  #titles{
    h1 {
      margin-bottom: 14px;
    }
  }

  #nav{
    .nav{
      justify-content: space-around;
      padding: 20px;
      border: 1px solid #707070;
    }
  }

  article{
    padding: 40px;

    h2 small{
      text-align: left;
      font-weight: 500;
      letter-spacing: 0px;
      color: #3E3D3D;
      text-transform: uppercase;
      margin-bottom: 14px;
    }

    p{
      margin-bottom: 22px;
    }

    .buttons{
      text-align: right;
      .btn{
        font-size: 2.5em;
      }
    }
  }

  article + article{
     border-top: 1px solid #707070;
  }
}


@include media-breakpoint-up(lg) {
  #terms{
     #nav{
      .nav{
        margin: 0 175px;
      }
  }
  }
}
