<div class="row flex-column flex-sm-row">
  {% if include.list == nil %}
    {% assign list = site.data.benefits[page.id]%}
  {% else %}
    {% assign list = site.data.benefits[include.list]%}
  {% endif%}
  {% for item in list %}
    <div class="col">
      <div class="benefits-item">
        {% include components/avatar_icon.html color=item.color icon=item.icon %}
        <h3 class="title">{{item.title}}</h3>
        <span class="body">{{item.body}}</span>
      </div>
    </div>
  {% endfor %}
</div>
<div>

</div>
