<div class="card plan-item">
  <h2 class="card-header"> <small> {{include.info.name}} </small> </h2>
  <h3 class="card-title">
    <span>{{include.info.price_year }}</span>
    <span class="card-text">
    {%if include.info.price_year != 'free' %}
      MONTHLY - 1 YEAR CONTRACT
    {%endif%}
    </span>
  </h3>
  <ul class="list-group list-group-flush">
    {% for benifit in include.info.benifits %}
      <li class="list-group-item">
        <span class="bullet"></span>
        {{ benifit.description }}
      </li>
    {% endfor %}
  </ul>
  <div class="card-body"></div>
  <div class="card-footer text-center">
    <a class="btn btn-secondary" href="{{ include.info.link | absolute_url }}" target="_blank">{{ include.info.button }}</a>
  </div>
</div>
