<div class="container">
    <div class="row flex-column flex-sm-row">
    {% for item in site.data.plans %}
      <div class="col col-md-4">
        <div class="card card-plan">
          <h3 class="card-header">{{item.name}}</h3>
          <div class="card-body">
            <h2 class="card-title">
              {%if item.price_year != 'free' %}
                <span class="card-price">$</span>
              {%endif%}
              <span>{{item.price_year }}</span>
            </h2>
            <div class="card-subtitle">
              {%if item.price_year != 'free' %}
                <p class="card-text">PER MONTH BILLED YEARLY</p>
                <p class="card-text">{{ "$" | append:item.price_month | append: " per month billed quarterly" }} </p>
              {%endif%}
            </div>


            <ul class="list-group list-group-flush">
              {% for benifit in item.benifits %}
                <li class="list-group-item"> {{ benifit.description }} </li>
              {% endfor %}
            </ul>
            <a href="#" class="btn btn-block">{{ item.button }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
