<div class="step-item {{include.info.container_class}} d-flex flex-column flex-sm-row{% if include.info.reverse %}-reverse{% endif %}">
  <div class="image-conatiner">
    {% if include.info.image_header != nil %}
      <p class="text-center">{{ include.info.image_header}}</p>
    {% endif%}
    <div class="number-conatiner">
      <img src="{{ 'assets/images/blank.png' | absolute_url}}"  data-echo="{{ 'assets/images/'| append: include.info.image | absolute_url}}" alt="{{ include.info.alt }}">
      {% for item in include.info.list %}
        {% if item.number != nil %}
          <span id="{{ item.number }}" class="number">{{ item.number }}</span>
        {% endif%}
      {% endfor %}
    </div>
    {% if include.info.image_footer != nil %}
      <p class="text-center">{{ include.info.image_footer}}</p>
    {% endif%}
  </div>
  {% if include.info.list != nil %}
    <ul class="list-group list-group-flush  {{item.list_class}}">
      {% for item in include.info.list %}
       {% if item.body != nil %}
          <li class="list-group-item mt-3 mt-md-0">
            {% if item.number != nil %}
              <span id="{{ item.number }}" class="number">{{ item.number }}</span>
            {% endif%}
            <span>{{ item.body }}</span>
          </li>
        {% endif%}
      {% endfor %}
    </ul>
  {% endif%}
</div>
