section{
  margin-top: 100px;

  .section-header{
    *{
      font-weight: 400;
      justify-content:center;
      text-align: center;
      text-transform: uppercase;
    }
    .title small{
      font-weight: 700;
      color: #00BAF2;
    }
    .sub-title small{
      color: #3E3D3D;
    }
    .third-subtitle small{
      color: #707070;
      text-transform: none;
    }
  }
}

#cover{
  h1{
    font-weight: 400;
    letter-spacing: 1.2px;
    color: #3E3D3D;
  }
  .bullet{
    display: block;
    width: 60px;
    height: 13px;
    border-radius: 8px;
    margin-top: 10px;
  }
}
