---
permalink: /:basename/
title: Get requests in your email inbox
description: "Digifair Note is an accessible and reliable source to show your products to a well-qualified range of fashion buyers. More Customers | More Deals | More Profit"
id:  supplier
---

<section style="background: #0DAF96">
  <div class="row flex-column flex-sm-row">

    <div class="col">
     <div class="d-flex justify-content-center">
        <div class="card plan-item">
          <h2 class="card-header"> <small> {{include.info.name}} </small> </h2>
          <h3 class="card-title">
            <span>{{include.info.price_year }}</span>
            <span class="card-text">
            {%if include.info.price_year != 'free' %}
              MONTHLY - 1 YEAR CONTRACT
            {%endif%}
            </span>
          </h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="bullet"></span>
              {{ benifit.description }}
            </li>
          </ul>
          <div class="card-body"></div>
          <div class="card-footer text-center">
            <a class="btn btn-secondary" href="{{ include.info.link | absolute_url }}" target="_blank">{{ include.info.button }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
     <div class="d-flex justify-content-center">
        <div class="card plan-item">
          <h2 class="card-header"> <small> {{include.info.name}} </small> </h2>
          <h3 class="card-title">
            <span>{{include.info.price_year }}</span>
            <span class="card-text">
            {%if include.info.price_year != 'free' %}
              MONTHLY - 1 YEAR CONTRACT
            {%endif%}
            </span>
          </h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="bullet"></span>
              {{ benifit.description }}
            </li>
          </ul>
          <div class="card-body"></div>
          <div class="card-footer text-center">
            <a class="btn btn-secondary" href="{{ include.info.link | absolute_url }}" target="_blank">{{ include.info.button }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
     <div class="d-flex justify-content-center">
        <div class="card plan-item">
          <h2 class="card-header"> <small> {{include.info.name}} </small> </h2>
          <h3 class="card-title">
            <span>{{include.info.price_year }}</span>
            <span class="card-text">
            {%if include.info.price_year != 'free' %}
              MONTHLY - 1 YEAR CONTRACT
            {%endif%}
            </span>
          </h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="bullet"></span>
              {{ benifit.description }}
            </li>
          </ul>
          <div class="card-body"></div>
          <div class="card-footer text-center">
            <a class="btn btn-secondary" href="{{ include.info.link | absolute_url }}" target="_blank">{{ include.info.button }}</a>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>

{% include components/sections_lists.html%}
