footer{
  background: #54595F;
  color: #fff;
  padding: 100px 0;
  margin-top: 40px;

  img{
    max-width: 250px;
  }

  a, a:hover{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-weight: 100;
  }
}
