.header{
  margin: 32px 0;

  .logo{
    img{
      width: 100%;
    }
  }

  a, a:hover {
    text-align: center;
    font-weight:500;
    color: #000000;
    text-decoration: none;
  }

 .fa-apple{
  width: 20px;
  height: 25px;
  font-size: 1.2em;
 }
 .fa-google-play{
  width: 27px;
  height: 27px;
 }
}

@include media-breakpoint-up(sm) {
  .header{

    .logo{
      margin-right: auto;
      justify-self: flex-start;

      a{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}






