.info-list{
  .list-group{
    li{
      border: none;
      padding-left: 0;
    }
    .bullet{
      display: inline-block;
      background: #AB4499;
      border-radius: 20px;
      width: 32px;
      height: 8px;
      margin-right: .5em;
      margin-top: .5em;
    }
  }
}
