.step-title{
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  h2{
    height: 100%;
    margin:0;
    small{
      height: 100%;
      display: flex;
      flex-direction:column;
      font-weight: 400;
      color: #3E3D3D;
      text-transform: uppercase;
    }
  }
}
