<header class="header">
  <div class="container">
   <ul class="nav justify-content-end align-items-center flex-column flex-sm-row ">
      {% for item in site.data.header %}
        <li class="nav-item {{ item.class }}">
          <a href="{{ item.link | absolute_url }}" {% if link.target != nil %}target="_blank"{% endif%}  class="nav-link">
             {% if item.image != nil %}
                 <img  src="{{ 'assets/images/'| append: item.image  | absolute_url}}" alt="{{ item.text }}">
              {% else %}
                  {{ item.text }}
              {% endif%}
          </a>
        </li>
      {% endfor %}
    </ul>
 </div>
</header>


